In [4]:
import sys
import pickle
import pandas as pd
from datetime import datetime

In [13]:
def prepare_data(df, categorical):
    df['duration'] = df.tpep_dropoff_datetime - df.tpep_pickup_datetime
    df['duration'] = df.duration.dt.total_seconds() / 60

    df = df[(df.duration >= 1) & (df.duration <= 60)].copy()

    df[categorical] = df[categorical].fillna(-1).astype('int').astype('str')
    
    return df

def dt(hour, minute, second=0):
    return datetime(2023, 1, 1, hour, minute, second)

In [14]:
data = [
    (None, None, dt(1, 1), dt(1, 10)),
    (1, 1, dt(1, 2), dt(1, 10)),
    (1, None, dt(1, 2, 0), dt(1, 2, 59)),
    (3, 4, dt(1, 2, 0), dt(2, 2, 1)),
    ]

columns = ['PULocationID', 'DOLocationID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime']
df = pd.DataFrame(data, columns=columns)

In [15]:
df

   PULocationID  DOLocationID tpep_pickup_datetime tpep_dropoff_datetime
0           NaN           NaN  2023-01-01 01:01:00   2023-01-01 01:10:00
1           1.0           1.0  2023-01-01 01:02:00   2023-01-01 01:10:00
2           1.0           NaN  2023-01-01 01:02:00   2023-01-01 01:02:59
3           3.0           4.0  2023-01-01 01:02:00   2023-01-01 02:02:01

In [16]:
categorical = ['PULocationID', 'DOLocationID']
prepared_df = prepare_data(df, categorical)
prepared_df

,PULocationID,DOLocationID,tpep_pickup_datetime,tpep_dropoff_datetime,duration
0,-1,-1,2023-01-01 01:01:00,2023-01-01 01:10:00,9.0
1,1,1,2023-01-01 01:02:00,2023-01-01 01:10:00,8.0

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   PULocationID           3 non-null      float64
 1   DOLocationID           2 non-null      float64
 2   tpep_pickup_datetime   4 non-null      datetime64[ns]
 3   tpep_dropoff_datetime  4 non-null      datetime64[ns]
 4   duration               4 non-null      float64
dtypes: datetime64[ns](2), float64(3)
memory usage: 288.0 bytes

In [18]:
prepared_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 0 to 1
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   PULocationID           2 non-null      object
 1   DOLocationID           2 non-null      object
 2   tpep_pickup_datetime   2 non-null      datetime64[ns]
 3   tpep_dropoff_datetime  2 non-null      datetime64[ns]
 4   duration               2 non-null      float64
dtypes: datetime64[ns](2), float64(1), object(2)
memory usage: 96.0+ bytes